<div class="card mb-3 mt-3">
    <div class="card-header">
        <h2 class="card-title">
            {{Curso.course_name}}
        </h2>
    </div>
    <div class="card-body">
        <div class="row">
            <h5 class="col-md-5">
                Nombre tutor:
            </h5>
            <p class="col-md-5">
                {{Curso.name}}
            </p>
        </div>
        <div class="row">
            <h5 class="col-md-5">
                Descripcion:
            </h5>
            <p class="col-md-5">
                {{Curso.description}}
            </p>
        </div>
        <div class="row">
            <h5 class="col-md-5">
                Categoria:
            </h5>
            <p class="col-md-5">
                {{Curso.categories}}
            </p>
        </div>
        <div class="row">
            <h5 class="col-md-5">
                Acerca del tutor:
            </h5>
            <p class="col-md-5">
                {{Curso.tutor_description}}
            </p>
        </div>
    </div>
</div>