<app-header></app-header>
<!-- Background image -->
<section>

    <div class="jumbotron bg-image d-flex justify-content-center align-items-center text-white flex-column" style="
      background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('assets/img/banner.jpg');
      height: 100vh;
    ">
        <div class="d-flex  justify-content-around align-items-center ">
            <div class="container">
                <h1 class="display-1 fw-bold"><span style="color: #59B7C2;">C</span>omparte<span style="color: #59B7C2;"> E</span>xperiencias</h1>
                <p>Donde tus experiencias de vida valen oro</p>
            </div>
            <div class="container imagenlogo">
                <img class="img-fluid rounded-pill" src="assets/img/imgbanner.jpg" alt="">
            </div>
        </div>
    </div>

</section>
<!-- Background image -->


<section class="my-4 d-flex flex-column">
    <div class="d-flex align-items-center justify-content-center">
        <h2>Mejores mentores</h2>
    </div>
    <div class="container my-5">
        <div class="row ">
            <div class="col-lg-4 col-md-4 d-flex flex-column align-items-center">

                <img class="rounded-circle" width="140" height="140" src="assets/img/abuelo1.jpg" alt="">
                <h2 class="text-capitalize">Juan fernando</h2>
                <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
                <p><a class="btn btn-info" href="#">View details »</a></p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-4 d-flex flex-column align-items-center">
                <img class="rounded-circle" width="140" height="140" src="assets/img/abuelo2.jpg" alt="">

                <h2 class="text-capitalize">Elida ortiz</h2>
                <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
                <p><a class="btn btn-info" href="#">View details »</a></p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-4 d-flex flex-column align-items-center">
                <img class="rounded-circle" width="140" height="140" src="assets/img/abuelo3.jpg" alt="">

                <h2 class="text-capitalize">Oliverio torres</h2>
                <p>And lastly this, the third column of representative placeholder content.</p>
                <p><a class="btn btn-info" href="#">View details »</a></p>
            </div>
            <!-- /.col-lg-4 -->
        </div>
    </div>
</section>


<div class="container-fluid my-2 d-flex flex-column align-items-center">
    <h1 class="my-5 text-uppercase">Nuestros Cursos</h1>
    <div class="overflow-scroll" style="height: 600px;">
        <div class="row justify-content-center">
            <div *ngFor="let curso of cursos" class="col-md-5 my-2">
                <app-listar-curso [Curso]="curso"></app-listar-curso>
            </div>
        </div>
    </div>
</div>






<app-footer></app-footer>